 .container-general{
    overflow: hidden;
    height: 100vp;
 }

 .container-nav{
    width: 100%;
    height: 300px;
 }
 
 .cards-container {
   /*height: 510px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.2);*/
   /* display: inline;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;*/
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

 .landing{
    margin:0;
    padding: 0;
    height: 100vw;
    overflow: hidden;
}

.cards-item {
    padding-top: 1rem;
    width: 280px;
    height: 400px;
    background-color: rgba(33, 155, 45, 0.4);
    border-radius: 10px;
    margin:10px
}

.link-receta {
    text-decoration: none;
}

.link-receta :hover {
    transform: scale(1.02);
}

.title-receta {
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    height:80px;
}

.diet-receta {
    color: #000;
    font-size: 15px;
    padding-top: 0px;
    margin-top: -5px;
    height: 60px;
}

.boton-cargar-recetas {
    box-shadow: 0px 10px 14px -7px #3dc21b;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 19px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    border-color: #3dc21b;
    /* margin-right: 30px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-color: #000; */
}

.link-nueva-receta {
    box-shadow: 0px 10px 14px -7px #3dc21b;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:9px 19px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-right: 25px;
    /* margin-right: 30px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-color: #000; */
}

/*.spoonacularScore-receta{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #b5d8b5;
    display: inline;
    font-size: 22px;
    padding: 5px 5px;
    border-color: #000;
    color:#000;
    border:2px solid black;
    margin-bottom: 10px;
    
}*/





.orden-alfabetico {
    background: rgb(77, 73, 73);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 22px;
}

.orden-puntuacion {
    background: rgb(77, 73, 73);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
    margin-right: 20px;
}

.dietas {
    background: rgb(77, 73, 73);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
    margin-right: 15px; 
}

 @media (max-width: 480px){
    .titulos{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 12px;
        padding-bottom: 15px;
    }
     .link-nueva-receta{
        margin-bottom: 15px;
        margin-right: 6px;
     }

     .boton-cargar-recetas {
        margin-bottom: 15px;
     }

     .input-busqueda {
        margin-bottom: 15px;
     }

     .boton-busqueda {
        margin-bottom: 15px;
     }
     .dietas {
        margin-bottom: 0;
     }
     .orden-alfabetico {
        margin-bottom: 0;
     }

      nav {
         margin-left: auto;
         margin-right: auto;
     } 

     .orden-puntuacion {
        margin-bottom: 15px;
     }

     .container-cards{
        margin-top: 60px;
        /* padding-left: auto; */
        padding-right: 30px;
        background-color: rgb(222, 241, 213);
        
       
     }

     .container-input{
        margin-top: 0;
        margin-bottom: 0;
     }

     .cards-container {
         /* flex-direction: column;
         display: flex;
         flex-wrap: wrap;
         overflow: hidden;
         height: max-content; 
         overflow-y: scroll;
         overflow-x: hidden; */
        
     }

     .cards-item {
         margin-left: 55px;
     } 

    
     
     .app{
        height: max-content;
        height:100vw;
        overflow: hidden;
     }

     .container-nav{
        height: 300px;
       
     }

     .paginado{
        padding-top: 15px;
     }

}  