.boton-landing{
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.boton-landing:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color: #408c99;
    cursor: pointer;
    transform:scale(1.3);
  }
  .boton-landing:active {
    position: relative;
    top: 1px;
  }

@media (max-width: 480px){
    .landing{
        background-color: rgb(222, 241, 213);
        height: max-content;

        }

    .boton-landing{
        margin-top: 120px;
    }
}