 .number{
    list-style-type: none;
    margin:0;
    display: inline-block;
    background: rgb(77, 73, 73);
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
 }
  
 .number a{
     padding:1px 10px;
     display: inline-block;
     color: #FFF;
     text-decoration: none;
}



 .number a:active {
    color: red;
  }

  