.boton-busqueda {
    box-shadow: 0px 10px 14px -7px #3dc21b;
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    padding:7px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 5px;
    margin-top: 7px;
}

.input-busqueda {
    background: silver;
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
}

